.wrap {
  width: 90%;
  max-width: 1280px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.wrap > h1 {
  text-align: center;
}

.initial-data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 4rem;
}

.inputs-form > :is(div, button) {
  margin-top: 1rem;
}

.mutation-tax-input__wrap {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.mutation-tax-input__wrap::before {
  content: "%";
  position: absolute;
  top: calc(50% - 1px);
  right: 6px;
  transform: translateY(-50%);
}
.mutation-tax-input__wrap > input {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

section.chart {
  max-width: 100%;
  flex: 2;
}

section.process {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
section.process > section {
  border-top: 1px solid gray;
}
section.process > section:first-child {
  flex: 2.5;
}

.generations {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 4rem;
}

section.operations {
  border-left: 1px solid gray;
  padding-block: 0.83rem;
  padding-left: 2rem;
  flex: 1;
  position: relative;
}
section.operations > div {
  position: sticky;
  top: 20px;
}

button.operations__button {
  padding: 0.2rem;
  border: none;
  background: none;

  display: flex;
  align-items: center;
  gap: 1rem;
}
button.operations__button > span {
  transition: transform 0.3s ease-in-out;
}
button.operations__button--open > span {
  transform: rotateZ(180deg);
}
button.operations__button > h2 {
  margin: 0;
}

.operations-list {
  padding-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}
.operations-list > li {
  font-size: 14px;
}
